<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gadware.tution">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TuitionHelper">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7098600576446460~7810184984" /> <!-- android:value="ca-app-pub-3940256099942544~3347511713"/> -->
        <activity android:name=".Activities.SessionDetails" />
        <activity android:name=".Activities.TuitionDetails" />
        <activity android:name=".Activities.AddNewSession" />
        <activity android:name=".Activities.UserProfile" />
        <activity android:name=".Activities.ReportActivity" />
        <activity android:name=".Activities.ProfileSetupActivity" />
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.AddNewTuition" />
        <activity android:name=".Activities.MainActivity" />
    </application>

</manifest>